---
import Container from "./Container.astro";
import FooterLink from "./FooterLink.astro";

import logo from "../images/logo.svg?url";
import facebook from "../images/icon-facebook.svg?url";
import twitter from "../images/icon-twitter.svg?url";
import pinterest from "../images/icon-pinterest.svg?url";
import instagram from "../images/icon-instagram.svg?url";
import FooterLinks from "./FooterLinks.astro";

import "../styles/footer.css";
---

<div class="bg-neutral flex-grow mt-10 footer-bg">
  <Container styles="py-10 md:py-6">
    <div>
      <div
        class="flex flex-col justify-between md:flex-row items-center gap-10 border-b border-b-[#837d87] border-opacity-30 py-10 lg:py-8"
      >
        <div>
          <img src={logo} alt="insure" />
        </div>

        <div class="flex gap-4 items-center">
          <a href="#">
            <img src={facebook} alt="facebook link" />
          </a>
          <a href="#">
            <img src={twitter} alt="facebook link" />
          </a>
          <a href="#">
            <img src={pinterest} alt="facebook link" />
          </a>
          <a href="#">
            <img src={instagram} alt="facebook link" />
          </a>
        </div>
      </div>

      <FooterLinks />
    </div>
  </Container>
</div>
